{#
 # ---------------------------------------------------------------------
 #
 # GLPI - Gestionnaire Libre de Parc Informatique
 #
 # http://glpi-project.org
 #
 # @copyright 2015-2023 Teclib' and contributors.
 # @copyright 2003-2014 by the INDEPNET Development Team.
 # @licence   https://www.gnu.org/licenses/gpl-3.0.html
 #
 # ---------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of GLPI.
 #
 # This program is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # This program is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with this program.  If not, see <https://www.gnu.org/licenses/>.
 #
 # ---------------------------------------------------------------------
 #}

{% macro main_description(item) %}
    {% set users_id = (item.fields['users_id_recipient'] > 0 ? item.fields['users_id_recipient'] : 0) %}
    {% set creator_span %}
        {{ include('components/user/link_with_tooltip.html.twig', {
            'users_id': users_id,
            'enable_anonymization': is_anonym_user(users_id),
            'export': true
        }, with_context = false) }}
    {% endset %}

    {% set date_span %}
        <span>
            <i class="ti ti-clock"></i>
            {{ item.fields['date_creation']|formatted_datetime }}
        </span>
    {% endset %}

    <div class="timeline-item ITILContent">
        <div class="timeline-content mt-2 p-2">
            <div>
                <span class="badge badge-outline text-blue">
                     {{ __('Created: %1$s by %2$s')|format(date_span, creator_span)|raw }}
                </span>
                TODO main main_description
            </div>
        </div>
    </div>
{% endmacro %}

<h1>
    {{ item.getType()|itemtype_name }}
    &nbsp;-&nbsp;
    {% if item.isField('name') %}
        {{ item.fields['name'] }}
    {% endif %}
    ({{ item.fields['id'] }})
</h1>

<div style="page-break-after: always;">
    <div class="itil-timeline d-flex flex-column align-items-start mb-auto">
        {% if not is_timeline_reversed() %}
            {{ _self.main_description(item) }}
        {% endif %}

        {% for entry in timeline %}
            {% set users_id = entry['item']['users_id'] %}
            {% set item_position = entry|item_position_class %}
            {% set date_creation = entry['item']['date_creation'] ?? entry['item']['date'] %}
            {% set date_mod = entry['item']['date_mod'] %}

            <div class="timeline-item {{ 'right' in item_position ? 'ms-auto' : '' }} {{ entry|itiltype }}">

                <div>
                    {# TODO task state #}
                </div>

                <div>
                    {# TODO user picture #}
                </div>

                <div class="timeline-content mt-2 p-2">
                    <div>
                        {% set date_span %}
                            <span>
                                <i class="ti ti-clock"></i>
                                {{ date_creation|formatted_datetime }}
                            </span>
                        {% endset %}

                        {% set creator_span %}
                            {{ include('components/user/link_with_tooltip.html.twig', {
                                'users_id': users_id,
                                'enable_anonymization': is_anonym_user(users_id),
                                'export': true
                            }, with_context = false) }}
                        {% endset %}

                        <span class="badge badge-outline text-blue">
                            {% if users_id > 0 %}
                                {{ __('Created: %1$s by %2$s')|format(date_span, creator_span)|raw }}
                            {% else %}
                                {{ __('Created: %1s')|format(date_span)|raw }}
                            {% endif %}
                        </span>

                        {% if entry['item']['users_id_editor'] and date_creation != date_mod %}
                            
                        {% endif %}

                        {% if entry|is_private  %}
                            <i class="ti ti-lock" aria-label="{{ __('Private') }}"></i>
                        {% endif %}
                    </div>

                    {{ entry['item']['content']|safe_html }}

                    {# TODO sub documents #}
                </div>


            </div>
        {% endfor %}

        {% if is_timeline_reversed() %}
            {{ _self.main_description() }}
        {% endif %}
    </div>
</div>
