<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - GLPI</title>

    <link rel="stylesheet" type="text/css" href="{{ css_path('css/pdf_export.scss') }}" />
    {% for css_file in css_files %}
          <link rel="stylesheet" type="text/css" href="{{ css_path(css_file.path, css_file.options ?? []) }}" />
    {% endfor %}

    {# {{ call("Html::script", ['public/lib/pdf.js'])|raw }} #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

   {{ custom_css() }}
</head>
<body>
    <div id='pdf-content' class='container'>